body{
	margin:0;
	padding:0;
}

#all-contents{

	background-color:white;
	transition: background .2s ease;
	position:absolute;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* TITLE */

.title{
	position:fixed;
	top:0;
}

#logo{
	width:36%;
	margin:7.7%;
}


#big-title{
	position:fixed;
	bottom:9%;
	left:-2.8%;
	color: black;
	font-size:1.2rem;
	font-family:avenir-light, san-serif;
	text-decoration:none;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

#big-title:hover{
	background-color:black;
	color:white;
}


/* MIDDLE FIELD */

.big-box-all{
	width: 78vw;
	height:24vh;
	margin-left:27vw;
	margin-top:28rem;
	position:relative;
}

#big-box-30{ 
	margin-bottom: 19rem }

#line1{	margin-bottom:3.5rem;}
#line2{	margin-bottom:2.5rem;}
#line3{	margin-bottom:4.5rem;}
#line4{	margin-bottom:2.5rem;}
#line5{	margin-bottom:4rem;}
#line6{	margin-bottom:3.5rem;}
#line7{	margin-bottom:1.5rem;}
#line8{	margin-bottom:2.5rem;}
#line9{	margin-bottom:3.5rem;}
#line10{ margin-bottom:3.5rem;}
#line11{ margin-bottom:1.5rem;}
#line12{ margin-bottom:3.5rem;}
#line13{ margin-bottom:3.5rem;}
#line14{ margin-bottom:3.5rem;}
#line15{ margin-bottom:3.5rem;}
#line16{ margin-bottom:4.5rem;}
#line17{ margin-bottom:2.5rem;}
#line18{ margin-bottom:3rem;}
#line19{ margin-bottom:3.5rem;}
#line20{ margin-bottom:4.5rem;}
#line21{ margin-bottom:1.5rem;}
#line22{ margin-bottom:3.5rem;}
#line23{ margin-bottom:4rem;}
#line24{ margin-bottom:3.5rem;}
#line25{ margin-bottom:3.5rem;}
#line26{ margin-bottom:3.5rem;}
#line27{ margin-bottom:2.5rem;}
#line28{ margin-bottom:2.5rem;}
#line29{ margin-bottom:3.5rem;}
#line30{ margin-bottom:3.5rem;}


.three {
  	width: 12vw;
  	height: 12vw ;
  	margin:auto;
}

.r_{
	bottom:0;
	left:0;

	height:24vh;
}

.c_{

	right:0;
 
	height:24vh;
}


/* FOOTER */

.footer{
	position:fixed;
	width:2.5rem;
	right:.5rem;
	top:.7rem;
	height:100vh;
	margin-bottom:1rem;
	overflow:scroll;
	}


#color-palette{
	text-align:center;
}

.color_palette_each{
	width:1.5rem;
	height:1.5rem;
	margin:.2rem;
	margin-right:0rem;
	border:none;
	display: inline-block;
	cursor:pointer;
	border-radius:50%;
	text-decoration:none;
	color:black;

}

.color_palette_each:hover{
	border: .15rem solid black;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
   box-sizing: border-box;
}


#palette_1{	background: linear-gradient(45deg, #FF103D, #E7243E); }
#palette_2{	background: linear-gradient(45deg, #08FFD4, #6FC4B3); }
#palette_3{	background: linear-gradient(45deg, #FFFF04, #EEE93A); }
#palette_4{	background: linear-gradient(45deg, #074ADB, #2250A1); }
#palette_5{	background: linear-gradient(45deg, #8FDFCE, #8ECEC2); }
#palette_6{	background: linear-gradient(45deg, #A6A6F9, #9DA0CF); }
#palette_7{	background: linear-gradient(45deg, #1D31FF, #274FA0); }
#palette_8{	background: linear-gradient(45deg, #8761DE, #6E5EA6); }
#palette_9{	background: linear-gradient(45deg, #FF2B04, #E73519); }		
#palette_10{ background: linear-gradient(45deg, #F45251, #E4504F); }
#palette_11{ background: linear-gradient(45deg, #1C5FFF, #315DAB); }
#palette_12{ background: linear-gradient(45deg, #F31F52, #E2284F); }
#palette_13{ background: linear-gradient(45deg, #8A4FC6, #77519E); }
#palette_14{ background: linear-gradient(45deg, #12118D, #1F2972); }
#palette_15{ background: linear-gradient(45deg, #E06322, #D66024); }
#palette_16{ background: linear-gradient(45deg, #0EC18D, #2DB184); }
#palette_17{ background: linear-gradient(45deg, #DB4A1C, #E83E19); }
#palette_18{ background: linear-gradient(45deg, #E6B2C5, #F2ABC0); }
#palette_19{ background: linear-gradient(45deg, #EFC9C6, #F7C3C2); }		
#palette_20{ background: linear-gradient(45deg, #EFC734, #F3C11B); }
#palette_21{ background: linear-gradient(45deg, #8D74CD, #896BAD); }
#palette_22{ background: linear-gradient(45deg, #DA3E1A, #E72E18); }
#palette_23{ background: linear-gradient(45deg, #6E45D9, #60479A); }
#palette_24{ background: linear-gradient(45deg, #DF7D78, #ED7676); }
#palette_25{ background: linear-gradient(45deg, #1036E7, #1B479C); }
#palette_26{ background: linear-gradient(45deg, #99F88E, #71BF77); }
#palette_27{ background: linear-gradient(45deg, #82C5F7, #53BBEB); }
#palette_28{ background: linear-gradient(45deg, #97FABF, #6FC2A0); }
#palette_29{ background: linear-gradient(45deg, #E9C0BD, #F4BABA); }		
#palette_30{ background: linear-gradient(45deg, #CC5551, #DF474B); }






